@using Suteki.TardisBank.Web.Mvc.Controllers
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head id="Head1">
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    @Styles.Render("~/Content/css")

    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    @Scripts.Render("~/bundles/modernizr")
    <title>@ViewBag.Title</title>
</head>

<body>
    <div class="page">
        <div id="mainContent">
            <div class="columnsContainer">
                <div class="leftColumn">
                    <p>
                        <img src="../../Content/img/sharp_arch.jpg" />
                    </p>
                    <h2>Suteki.TardisBank Pages</h2>
                    <ul>
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    </ul>
                </div>
                <!--/leftColumn-->

                <div class="rightColumn">
                    @RenderBody()
                </div><!--/rightColumn-->

                <div class="clear">
                </div>

            </div><!--/columnsContainer-->

            <div id="sharpArchLogo"></div>

        </div><!--/mainContent-->

    </div><!--/page-->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")


</body>
</html>
